.bg {
  background: #000000,
}

.outerDiv {
  background: #000000;
  height: 95%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.note {
  background: #f2f0da;
  margin: 0 auto;
  height: 50%;
  width: 50%;
  position: inherit;
  top: 25%;
  left: 25%;
  padding-top: 2rem;
  overflow: auto;
  border-radius: 5px;
}
